**/__pycache__
**/.pytest_cache
channels/build
*\.cache
pool/build
proposal/.dep/
proposal/figures/epoch.pdf
proposal/figures/isolated-miners.pdf
proposal/figures/shares-dag.pdf
proposal/figures/work-share.pdf
proposal/proposal.aux
proposal/proposal.fls
proposal/proposal.log
proposal/proposal.bbl
proposal/proposal.blg
simulations/logs/*
simulations/*.toolbox
venv