BITCOIN_PRICE_URL=https://api.coinbase.com/v2/prices/BTC-
BITCOIN_PRICE_URL_SUFFIX=/spot
CRYPTO_URL=https://api.alternative.me/v2/global
RPC_USER=braidpool
RPC_PASS=INSERT A PASSWORD HERE
BRAIDPOOL_URL=http://localhost:8332
MEMPOOL_URL=https://mempool.space
BRAIDPOOL_API_BASE=https://mempool.space/api/v1/
