BITCOIN_PRICE_URL = COINBASE_API_URL
BITCOIN_PRICE_URL_SUFFIX = /spot
CRYPTO_URL = ALTERNATIVE_ME_GLOBAL
RPC_USER = USER
RPC_PASS = PASSWORD
BRAIDPOOL_URL = BRAIDPOOL_URL
MEMPOOL_API_URL = MEMPOOL_API_URL