name: CMake

on:
  push:
    branches: [ main, travis ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v2

    - name: Checkout libbitcoin system
      id: checkout-libbitcoin
      run: |
        git clone --depth 1 --branch version3 https://github.com/libbitcoin/libbitcoin-system.git
        cd libbitcoin-system
        echo "::set-output name=commit_id::`git log -n 1 --pretty=format:"%H"`"

    - name: Cache libbitcoin-system
      uses: actions/cache@v2
      id: libbitcoin-cache
      with:
        path: $HOME/build-bc/
        key: ${{ runner.os }}-build-bc-and-boost-${{steps.checkout-libbitcoin.outputs.commit_id}}

    - name: Build secp256k1
      if: steps.libbitcoin-cache.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 --branch version7 --single-branch https://github.com/libbitcoin/secp256k1
        cd secp256k1
        ./autogen.sh
        ./configure --disable-tests --enable-module-recovery --prefix $HOME/build-bc/
        make
        make install
        cd ${{github.workspace}}

    - name: Build libbitcoin-system
      if: steps.libbitcoin-cache.outputs.cache-hit != 'true'
      run: |
        cd libbitcoin-system
        CC=$CC CXX=$CXX ./install.sh --enable-isystem --disable-static --build-boost --prefix=$HOME/build-bc/ CFLAGS='-Os -s' CXXFLAGS='-Os -s'
            
  # test:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #   - uses: actions/checkout@v2
      
  #   - name: Fetch libbitcoin system commit id
  #     id: libbitcoin-commit-id
  #     run: |
  #       git clone --depth 1 --branch version3 https://github.com/libbitcoin/libbitcoin-system.git
  #       cd libbitcoin-system
  #       echo "::set-output name=commit_id::`git log -n 1 --pretty=format:"%H"`"

  #   - name: Restore libbitcoin cache
  #     uses: actions/cache@v2
  #     id: restore-libbitcoin-cache
  #     with:
  #       path: $HOME/build-bc/
  #       key: ${{ runner.os }}-test
  #       restore-keys: ${{ runner.os }}-build-bc-and-boost-${{steps.libbitcoin-commit-id.outputs.commit_id}}

    - name: cd and ls
      run: |
        ls $HOME/
        ls $HOME/work/d11dpool
        ls $HOME/build-bc

    - name: Configure CMake
      run: PKG_CONFIG_PATH=$HOME/build-bc/lib/pkgconfig/ cmake -DBOOST_ROOT=$HOME/build-bc/ -S ${{github.workspace}}/channels -B ${{github.workspace}}/channels/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      env:
        CC: gcc-10
        CXX: g++-10
        
    - name: Build CMake
      run: cmake --build ${{github.workspace}}/channels/build --config ${{env.BUILD_TYPE}}
        
    - name: Run tests
      run: ctest --test-dir ${{github.workspace}}/channels/build -C ${{env.BUILD_TYPE}}
