name: Python Unit Tests

on:
  push:
    branches: [ '**' ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/requirements.txt

    - name: Run python tests
      run: |
        cd tests
        python -m pytest test_*.py -v

    - name: Install npm
      uses: actions/setup-node@v4
      with:
        node-version: '23.x'

    - name: Run npm tests
      run: |
        npm install
        npm test
      working-directory: tests

